<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="rabbitUri" connectionString="amqp://test:test@192.168.11.169/" />
    <add name="ctExchange1" connectionString="ct-exchange-1" />
    <add name="ctExchange2" connectionString="ct-exchange-2" />
    <add name="ctLoopbackExchange" connectionString="ct-loopback-exchange" />
    <add name="ctLoopbackQueue" connectionString="ha.ct-loopback-queue" />
    <add name="sourceDB" connectionString="server=.;integrated security=SSPI;database=TestSource"/>
    <add name="targetDB" connectionString="server=.;integrated security=SSPI;database=TestTarget"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>